.popup {
  background-color: rgba(27, 31, 35, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.popup > div {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 70%;
  min-width: 200px;
  max-width: 450px;
  padding: 15px;
  padding-bottom: 55px;
  border-radius: 7px;
}
