.buttons {
  float: right;
  margin: 16px 0;
}

.buttons > button:first-child {
  background-color: var(--colorPrimary);
  margin-right: 13px;
}

.buttons > button:last-child {
  background-color: #666;
}

.buttons > button {
  color: #fff;
  padding: 6px 16px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.buttons > button:hover {
  opacity: 0.8 !important;
}
