.signupForm {
  display: flex;
  justify-content: center;
}

.signupForm label {
  display: block;
  margin: 14px 0;
}

.signupForm > div > div {
  position: relative;
}

.signupForm input {
  margin-bottom: 14px;
}

.signupForm img {
  vertical-align: middle;
  cursor: pointer;
  margin-left: 6px;
}

.error {
  position: absolute;
  bottom: -6px;
  white-space: nowrap;
}

.signUpBtn {
  margin: 20px 0;
}
