.profilePic {
  width: 130px;
  border-radius: 50%;
  margin: 20px auto 10px;
  position: relative;
  overflow: hidden;
}

.avatar {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 130px;
  cursor: pointer;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner > div {
  width: 20px;
  height: 20px;
  border-width: 3px;
  margin-right: 0;
}

.removeAvatarBtn {
  background-color: transparent;
  padding: 0;
  border: 0;
  position: absolute;
  right: 10px;
  bottom: 35px;
  cursor: pointer;
  opacity: 0;
}

.avatar:hover + .removeAvatarBtn,
.removeAvatarBtn:hover,
.removeAvatarBtn:focus {
  opacity: 1;
}

.removeAvatarBtn > svg {
  fill: #f00;
  transform: scale(1.1);
}

@media (min-width: 700px) {
  .profilePic {
    width: 150px;
  }

  .avatar {
    height: 150px;
  }

  .removeAvatarBtn {
    bottom: 40px;
  }
}
