.post,
.reply {
  display: flex;
  margin-top: 16px;
}

.post > a,
.reply > a {
  height: 100%;
}

.profilePic {
  width: 40px;
  border-radius: 50%;
}

.post > div,
.reply > div {
  width: 100%;
  margin-left: 15px;
}

.postContainer,
.replyContainer {
  position: relative;
}

.postContainer:hover > div > button,
.replyContainer:hover > div > button {
  opacity: 1;
}

.post svg {
  fill: #909090;
}

.readMoreBtn {
  font-weight: 600;
  color: #4d4d4d;
}

.readMoreBtn,
.showRepliesBtn {
  font-size: 15px;
  background-color: #fff;
  padding-left: 0;
  border: 0;
  outline: 0;
  opacity: 0.7;
  cursor: pointer;
}

.readMoreBtn:hover,
.readMoreBtn:focus,
.showRepliesBtn:hover,
.showRepliesBtn:focus {
  opacity: 1;
}

.showRepliesBtn > span {
  vertical-align: super;
}

.reply {
  margin-top: 0;
  margin-bottom: 5px;
}
