.post {
  display: flex;
  margin-top: 16px;
}

.profilePic {
  width: 40px;
  border-radius: 50%;
}

.post > div {
  width: 100%;
  margin-left: 15px;
}

.postContainer {
  position: relative;
}

.postContainer:hover > div > button {
  opacity: 1;
}

.post svg {
  fill: #909090;
}

.showRepliesBtn {
  clear: right;
  display: block;
  font-size: 15px;
  background-color: #fff;
  padding-left: 0;
  border: 0;
  outline: 0;
  opacity: 0.7;
  cursor: pointer;
}

.showRepliesBtn:hover,
.showRepliesBtn:focus {
  opacity: 1;
}

.showRepliesBtn > span {
  vertical-align: super;
}

.replies {
  display: flex;
  margin-bottom: 5px;
}

.replies > div {
  margin-left: 15px;
  width: 100%;
}
