.profile {
  width: 90%;
  max-width: 500px;
  margin: auto;
}

.button {
  display: block;
  background: #fff;
  color: #1877f2;
  font-size: 15px;
  padding-left: 0;
  border: 0;
  margin-bottom: 10px;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.password {
  margin-bottom: 10px;
}

.password::placeholder {
  font-size: 14px;
}
