.navbar {
  position: absolute;
  top: 15px;
  right: 14px;
  margin-right: 5px;
}

.navbar > a,
.burgerMenu > a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.navbar > a {
  margin-right: 20px;
}

.navbar > :hover,
.burgerMenu > a:hover,
.burgerMenu > button:hover {
  opacity: 0.6;
}

.navbar > button,
.burgerMenu > button {
  background-color: var(--colorPrimary);
  color: #fff;
  font-weight: 600;
  border: 0;
  cursor: pointer;
}

.navbar > button {
  font-size: 15px;
  padding: 0;
}

@media (min-width: 900px) {
  .navbar {
    margin-right: 10px;
  }

  .navbar > a:first-child {
    margin-right: 25px;
  }
}

.burgerMenu {
  background-color: var(--colorPrimary);
  position: sticky;
  top: 47px;
  z-index: 1;
}

.burgerMenu > a {
  display: block;
  padding: 12px 0;
  border-top: 1px solid #000;
  text-align: center;
}

.burgerMenu > button {
  font-size: 16px;
  width: 100%;
  padding: 12px 0;
  border-top: 1px solid #000;
}
