.closeBtn {
  float: right;
  background-color: transparent;
  color: #fff;
  font-size: 40px;
  padding: 0 12px;
  border: 0;
  cursor: pointer;
  opacity: 0.8;
}

.enlargedAvatar {
  display: block;
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: auto;
  margin-top: 60px;
}

@media (min-width: 500px) {
  .enlargedAvatar {
    width: 350px;
    height: 350px;
  }
}

@media (min-width: 900px) {
  .enlargedAvatar {
    width: 400px;
    height: 400px;
  }
}
