.addReply {
  display: flex;
}

.addReply img {
  width: 30px;
  border-radius: 50%;
}

.addReply > textarea {
  display: block;
  resize: vertical;
  font-size: 14px;
  width: 100%;
  min-height: 70px;
  max-height: 500px;
  margin-left: 14px;
}
